<html>
  <head>
    <title>WmSAP - Transactions</title>
    <meta http-equiv="Pragma" content="no-cache"></meta>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
    <meta http-equiv="Expires" content="-1"></meta>
    <link rel="stylesheet" type="text/css" href="/WmRoot/webMethods.css"></link>
    <link rel="stylesheet" type="text/css" href="/WmSAP/package.css"></link>
    <script type="text/javascript" src="/WmRoot/webMethods.js.txt"></script>
  </head>
  <script>
	function navigateBack() {
		window.history.back();
	}
  </script>
  <body >
    %ifvar $error%
    %include error.html%
    %else%
    %ifvar type equals('xml')%
    %value xmlData%
    %else%
    <table width="100%">
      <tr>
	<td class="menusection-Adapters" colspan="2">Adapters &gt; WmSAP &gt;
	  Transactions &gt; %value $tid% &gt; View as HTML</td>
      </tr>
      <tr>
	<td colspan="2">
	  <ul>
	    <li><a href="#" onclick="navigateBack();">Return to View Transaction %value $tid%</a></li>
	  </ul>
	</td>
      </tr>
      <tr>
	<td class="padding">&nbsp;</td>
	<td>
	  %scope iDocList%
	    <!-- %loop iDocs% -->
	      %scope iDocControl%
	  <table class="tableView" width="100%" style="margin-bottom: 0px;">
	    <tr>
	      <td class="heading">IDoc %value DOCNUM%</td>
	    </tr>
	    <tr>
	      <td class="subHeading">Control</td>
	    </tr>
	  </table>
	  <table class="tableView" width="100%">
	    <tr>
	      <!-- %loop -struct% -->
	      <td class="oddcol">%value $key%</td>
	      <!-- %endloop% -->
	    </tr>
	    <tr>
	      <!-- %loop -struct% -->
	      <td class="oddrowdata-l">%value%</td>
	      <!-- %endloop% -->
	    </tr>
	  </table>
	      %endscope%
	  <table class="tableView" width="100%">
	    <tr>
	      <td class="subHeading">Data</td>
	    </tr>
	  </table>
	  <table class="tableView" width="100%">
	    <!-- %loop segments% -->
	    <tr>
	      <td class="subHeading">%value name%</td>
	      <td>%include segment.html%</td>
	    </tr>
	    <!-- %endloop% -->
	  </table>
	  <!-- %endloop% -->
	  %endscope%
	</td>
      </tr>
    </table>
    %endif%
    %endif%
  </body>
</html>