<html>
  <head>
    <title>WmSAP - Transactions</title>
    <meta http-equiv="Pragma" content="no-cache"></meta>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
    <meta http-equiv="Expires" content="-1"></meta>
    <link rel="stylesheet" type="text/css" href="/WmRoot/webMethods.css"></link>
    <link rel="stylesheet" type="text/css" href="package.css"></link>
    <script type="text/javascript" src="/WmRoot/webMethods.js.txt"></script>
  </head>
  <body>
    <table width="100%">
      <tr>
	<td class="menusection-Adapters" colspan="2">Adapters &gt; WmSAP &gt;
	  Transactions &gt; %value $tid% &gt; View as HTML</td>
      </tr>
      <tr>
	<td colspan="2">
	  <ul>
	    <li><a href="/WmSAP/transactionsView.dsp?adapterTypeName=WmSAP&amp;$tid=%value $tid%&amp;$sortKey=%value $sortKey%&amp;$dir=%value $dir%">Return to View Transaction %value $tid%</a></li>
	  </ul>
	</td>
      </tr>
      <tr>
	<td class="padding">&nbsp;</td>
	<td>
	  <table class="tableView" width="100%" style="margin-bottom: 0px;">
	    <tr><td class="message" colspan="2">Cannot display message
		body %value msgType% as %value type%.</td></tr>
	  </table>
	</td>
      </tr>
    </table>
  </body>
</html>